*{
    font-family: BodoniXT;
}

::selection{
    background-color: #E3CA99;
}

a{
    font-size: 20px;
}

.navele:hover{
    color: black;
    text-decoration: underline;
}

.nav{
    padding-top: 15px;
    padding-bottom: 15px;
    height: 50px;
}

.navele{
    color: black;
    padding: 15px;
    margin-left: 6px;
}

.d-flex{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-items: center;
    padding: 50px;
}

.poem-images{
    margin-bottom: 20%;
}

@media (max-width: 750px){

    a{
        font-size: 13px;
    }

    .navele{
        padding-left: 10px;
        padding-right: 10px;
    }

    .poem-images{
        margin-left: 0;
    }

    .d-flex{
        margin-left: -17px;
        padding-left: 0;
    }
}